doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

	body
		.w-page
			nav
				ul
					li #[a(href="#first") first]
					li #[a(href="#second") second]
					li #[a(href="#third") third]
					li #[a(href="#fourth") fourth]
			section#first
			section#second
			section#third
			section#fourth
		script(src="js/common.js")
